.nav {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  ul {
    list-style: none;
    padding-left: 0;
    a {
      color: #000;
      text-decoration: none;
    }
  }
}
